@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
background-color: rgba(0, 0, 0, 0.945);
min-height: 100dvh;
}

.bg-nav {
  background-color: #DDDDDD;
}

.text-gray{
  color: #DDDDDD;
}
